<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904888155627-ffvsefnktop5ud3jamindgrhpoa9qpve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904888155627-ffvsefnktop5ud3jamindgrhpoa9qpve</string>
	<key>API_KEY</key>
	<string>AIzaSyA7-lX4clFl3mEmAF9OovahvcrpoX0Ar1w</string>
	<key>GCM_SENDER_ID</key>
	<string>904888155627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eaty.final1</string>
	<key>PROJECT_ID</key>
	<string>final1-e574b</string>
	<key>STORAGE_BUCKET</key>
	<string>final1-e574b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904888155627:ios:4d75922229eeb3bd3bedae</string>
</dict>
</plist>